Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2020-12, with the labels that each got.

#432 Common Environment Variable Names
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/owasp.yml
Labels: DevOps

#433 Fix Rack::Attack exception
  config/initializers/rack_attack.rb
Labels: ruby

#435 Remove redundant attribute from ReturningTeacher step
  app/models/teacher_training_adviser/steps/returning_teacher.rb
  spec/models/teacher_training_adviser/steps/returning_teacher_spec.rb
Labels: Test, ruby

#300 Clean up step skipped? logic
  app/models/teacher_training_adviser/steps/gcse_maths_english.rb
  app/models/teacher_training_adviser/steps/gcse_science.rb
  app/models/teacher_training_adviser/steps/has_teacher_id.rb
  app/models/teacher_training_adviser/steps/have_a_degree.rb
  app/models/teacher_training_adviser/steps/no_degree.rb
  app/models/teacher_training_adviser/steps/overseas_country.rb
  app/models/teacher_training_adviser/steps/overseas_telephone.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/models/teacher_training_adviser/steps/previous_teacher_id.rb
  app/models/teacher_training_adviser/steps/qualification_required.rb
  app/models/teacher_training_adviser/steps/retake_gcse_maths_english.rb
  app/models/teacher_training_adviser/steps/retake_gcse_science.rb
  app/models/teacher_training_adviser/steps/stage_interested_teaching.rb
  app/models/teacher_training_adviser/steps/stage_of_degree.rb
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  app/models/teacher_training_adviser/steps/subject_interested_teaching.rb
  app/models/teacher_training_adviser/steps/subject_like_to_teach.rb
  app/models/teacher_training_adviser/steps/subject_not_found.rb
  app/models/teacher_training_adviser/steps/subject_taught.rb
  app/models/teacher_training_adviser/steps/uk_address.rb
  app/models/teacher_training_adviser/steps/uk_callback.rb
  app/models/teacher_training_adviser/steps/uk_telephone.rb
  app/models/teacher_training_adviser/steps/what_degree_class.rb
  app/models/teacher_training_adviser/steps/what_subject_degree.rb
  app/models/wizard/step.rb
  spec/models/teacher_training_adviser/steps/gcse_maths_english_spec.rb
  spec/models/teacher_training_adviser/steps/gcse_science_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/models/teacher_training_adviser/steps/previous_teacher_id_spec.rb
  spec/models/teacher_training_adviser/steps/qualification_required_spec.rb
  spec/models/teacher_training_adviser/steps/retake_gcse_maths_english_spec.rb
  spec/models/teacher_training_adviser/steps/retake_gcse_science_spec.rb
  spec/models/teacher_training_adviser/steps/stage_interested_teaching_spec.rb
  spec/models/teacher_training_adviser/steps/stage_of_degree_spec.rb
  spec/models/teacher_training_adviser/steps/subject_interested_teaching_spec.rb
  spec/models/teacher_training_adviser/steps/uk_callback_spec.rb
  spec/models/teacher_training_adviser/steps/uk_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/what_degree_class_spec.rb
  spec/models/teacher_training_adviser/steps/what_subject_degree_spec.rb
  spec/models/wizard/step_spec.rb
  spec/support/shared_examples/wizard_support.rb
Labels: Test, ruby

#438 Call Cypress Tests from Repository
  .github/workflows/build.yml
Labels: DevOps

#439 Bug Fix - Display Error in Workflow Error Message
  .github/workflows/build.yml
Labels: DevOps

#440 Bug Fix - Time out waiting for Tests
  .github/workflows/build.yml
Labels: DevOps

#441 Enhancement - Do not issue slack notifications
  .github/workflows/build.yml
Labels: DevOps

#443 Muliti line Release Notes only pick first line
  .github/workflows/build.yml
Labels: DevOps

#436 Remove logic to default the preferred_teaching_subject_id
  app/models/teacher_training_adviser/steps/stage_interested_teaching.rb
  spec/features/sign_up_spec.rb
Labels: Test, ruby

#452 Duplicate release tag
  .github/workflows/build.yml
Labels: DevOps

#454 Publish release
  .github/workflows/build.yml
Labels: DevOps

#455 Update publish_release.yml
  .github/workflows/publish_release.yml
Labels: DevOps

#460 Inform Slack of Release
  .github/workflows/build.yml
Labels: DevOps

#461 Replace TypeEntity with PickListItem/LookupItem
  Gemfile.lock
  app/models/concerns/api_options.rb
  app/models/healthcheck.rb
  app/models/teacher_training_adviser/steps/gcse_maths_english.rb
  app/models/teacher_training_adviser/steps/gcse_science.rb
  app/models/teacher_training_adviser/steps/overseas_country.rb
  app/models/teacher_training_adviser/steps/retake_gcse_maths_english.rb
  app/models/teacher_training_adviser/steps/retake_gcse_science.rb
  app/models/teacher_training_adviser/steps/stage_interested_teaching.rb
  app/models/teacher_training_adviser/steps/stage_of_degree.rb
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  app/models/teacher_training_adviser/steps/subject_interested_teaching.rb
  app/models/teacher_training_adviser/steps/subject_like_to_teach.rb
  app/models/teacher_training_adviser/steps/subject_taught.rb
  app/models/teacher_training_adviser/steps/what_degree_class.rb
  app/models/teacher_training_adviser/steps/what_subject_degree.rb
  app/validators/lookup_items_validator.rb
  app/validators/pick_list_items_validator.rb
  app/validators/types_validator.rb
  spec/models/healthcheck_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_country_spec.rb
  spec/models/teacher_training_adviser/steps/stage_of_degree_spec.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
  spec/models/teacher_training_adviser/steps/subject_interested_teaching_spec.rb
  spec/models/teacher_training_adviser/steps/subject_like_to_teach_spec.rb
  spec/models/teacher_training_adviser/steps/subject_taught_spec.rb
  spec/models/teacher_training_adviser/steps/what_degree_class_spec.rb
  spec/models/teacher_training_adviser/steps/what_subject_degree_spec.rb
  spec/support/shared_examples/wizard_support.rb
  spec/validators/lookup_items_validator_spec.rb
  spec/validators/pick_list_items_validator_spec.rb
  spec/validators/types_validator_spec.rb
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/lookup_items/countries.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/lookup_items/teaching_subjects.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/candidate/initial_teacher_training_years.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/candidate/preferred_education_phases.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/candidate/retake_gcse_status.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/qualification/degree_status.yml
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/qualification/uk_degree_grades.yml
Labels: Test, ruby

#465 Common Environment Created
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/cypress.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
  .github/workflows/publish_release.yml
Labels: DevOps

#466 Setup Environment needed with each job
  .github/workflows/build.yml
Labels: DevOps
