Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-12, with the labels that each got.

#870 Disable new GTM container in non-prod environments
  .env.development
  .env.rolling
  config/environments/development.rb
  config/environments/rolling.rb
Labels: ruby, Review, Rails

#844 Enable new GTM container in production
  .env.production
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/userresearch.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/gtm_spec.rb
Labels: ruby, Test, Review, Rails

#875 Configure non-prod environments for staging GTM container
  .env.development
  .env.preprod
  .env.rolling
  .env.userresearch
Labels: Review, Rails

#876 Enable new GTM container in non-prod environments
  .env.development
  .env.preprod
  .env.rolling
  .env.userresearch
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/rolling.rb
  config/environments/userresearch.rb
Labels: ruby, Review, Rails

#873 Use IssueVerificationCode module from DFEWizard
  Gemfile
  Gemfile.lock
  app/models/teacher_training_adviser/steps/identity.rb
  app/models/wizard/issue_verification_code.rb
  spec/models/teacher_training_adviser/steps/identity_spec.rb
  spec/support/shared_examples/wizard_support.rb
Labels: ruby, docker, Test, Review

#879 Various dependency updates
  .ruby-version
  Dockerfile
  Gemfile.lock
  README.md
  package.json
  yarn.lock
Labels: docker, Review

#880 Enable Rubocop RSpec rules
  .rubocop.yml
  spec/features/sign_up_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/callback_helper_spec.rb
  spec/lib/prometheus/metrics_spec.rb
  spec/models/healthcheck_spec.rb
  spec/models/teacher_training_adviser/feedback_search_spec.rb
  spec/models/teacher_training_adviser/feedback_spec.rb
  spec/models/teacher_training_adviser/steps/accept_privacy_policy_spec.rb
  spec/models/teacher_training_adviser/steps/already_signed_up_spec.rb
  spec/models/teacher_training_adviser/steps/date_of_birth_spec.rb
  spec/models/teacher_training_adviser/steps/gcse_maths_english_spec.rb
  spec/models/teacher_training_adviser/steps/gcse_science_spec.rb
  spec/models/teacher_training_adviser/steps/has_teacher_id_spec.rb
  spec/models/teacher_training_adviser/steps/have_a_degree_spec.rb
  spec/models/teacher_training_adviser/steps/identity_spec.rb
  spec/models/teacher_training_adviser/steps/no_degree_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_callback_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_country_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/models/teacher_training_adviser/steps/previous_teacher_id_spec.rb
  spec/models/teacher_training_adviser/steps/qualification_required_spec.rb
  spec/models/teacher_training_adviser/steps/retake_gcse_maths_english_spec.rb
  spec/models/teacher_training_adviser/steps/retake_gcse_science_spec.rb
  spec/models/teacher_training_adviser/steps/returning_teacher_spec.rb
  spec/models/teacher_training_adviser/steps/review_answers_spec.rb
  spec/models/teacher_training_adviser/steps/stage_interested_teaching_spec.rb
  spec/models/teacher_training_adviser/steps/stage_of_degree_spec.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
  spec/models/teacher_training_adviser/steps/subject_interested_teaching_spec.rb
  spec/models/teacher_training_adviser/steps/subject_like_to_teach_spec.rb
  spec/models/teacher_training_adviser/steps/subject_not_found_spec.rb
  spec/models/teacher_training_adviser/steps/subject_taught_spec.rb
  spec/models/teacher_training_adviser/steps/uk_address_spec.rb
  spec/models/teacher_training_adviser/steps/uk_callback_spec.rb
  spec/models/teacher_training_adviser/steps/uk_or_overseas_spec.rb
  spec/models/teacher_training_adviser/steps/uk_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/what_degree_class_spec.rb
  spec/models/teacher_training_adviser/steps/what_subject_degree_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/requests/api_client_request_id_spec.rb
  spec/requests/beta_redirect_spec.rb
  spec/requests/circuit_breaker_spec.rb
  spec/requests/csp_reports_spec.rb
  spec/requests/feedback_spec.rb
  spec/requests/healthcheck_spec.rb
  spec/requests/pages_spec.rb
  spec/requests/sign_up_spec.rb
  spec/requests/sitemaps_spec.rb
  spec/support/shared_examples/address_telephone_value.rb
  spec/support/shared_examples/wizard_support.rb
  spec/validators/lookup_items_validator_spec.rb
  spec/validators/pick_list_items_validator_spec.rb
Labels: Test, Review

#872 Remove legacy tracking/analytics
  .env.development
  .env.preprod
  .env.production
  .env.rolling
  .env.userresearch
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  app/views/pages/home.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  app/webpacker/controllers/analytics_base_controller.js
  app/webpacker/controllers/bam_controller.js
  app/webpacker/controllers/facebook_controller.js
  app/webpacker/controllers/gtm_controller.js
  app/webpacker/controllers/image_pixel_base_controller.js
  app/webpacker/controllers/lid_controller.js
  app/webpacker/controllers/pinterest_controller.js
  app/webpacker/controllers/snapchat_controller.js
  app/webpacker/controllers/twitter_controller.js
  config/environments/development.rb
  config/environments/production.rb
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/analytics_spec_helper.js
  spec/javascript/controllers/bam_controller_spec.js
  spec/javascript/controllers/facebook_controller_spec.js
  spec/javascript/controllers/gtm_controller_spec.js
  spec/javascript/controllers/lid_controller_spec.js
  spec/javascript/controllers/pinterest_controller_spec.js
  spec/javascript/controllers/snapchat_controller_spec.js
  spec/javascript/controllers/twitter_controller_spec.js
  spec/requests/gtm_spec.rb
  spec/requests/lid_tracking_pixels_spec.rb
  spec/support/matchers/analytics_matcher.rb
Labels: ruby, Test, Review, Rails

#869 Added a banner to homepage about Christmas
  app/views/pages/home.html.erb
Labels: Review
