Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-05, with the labels that each got.

#649 Re-introduce overseas callback booking
  Gemfile.lock
  app/models/teacher_training_adviser/steps/overseas_callback.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/models/teacher_training_adviser/wizard.rb
  app/views/teacher_training_adviser/steps/_overseas_callback.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  config/locales/en.yml
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_callback_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
Labels: Review, Test, ruby

#657 Disable tracking pixels in production
  .env.production
Labels: Rails, Review

#666 Switch to SemanticLogger in Production
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/puma.rb
Labels: Review, ruby

#665 Update Fail2Ban settings
  .env.production
  config/initializers/rack_attack.rb
Labels: Rails, Review, ruby

#679 Amending opening hours for phone line
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Review

#680 Rename telephone to address_telephone
  Gemfile.lock
  app/models/teacher_training_adviser/steps/overseas_telephone.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/models/teacher_training_adviser/steps/uk_callback.rb
  app/models/teacher_training_adviser/steps/uk_telephone.rb
  app/views/teacher_training_adviser/steps/_overseas_telephone.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  app/views/teacher_training_adviser/steps/_uk_telephone.html.erb
  config/initializers/filter_parameter_logging.rb
  config/locales/en.yml
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/models/teacher_training_adviser/steps/review_answers_spec.rb
  spec/models/teacher_training_adviser/steps/uk_callback_spec.rb
  spec/models/teacher_training_adviser/steps/uk_telephone_spec.rb
Labels: Review, Test, ruby

#638 Lowercase 'teacher training advisers'
  app/views/pages/cookies.html.erb
  app/views/pages/home.html.erb
Labels: Review

#682 Upgrade Puma to v5.3.1
  Gemfile
  Gemfile.lock
Labels: Review

#685 Improve email format validation
  app/models/teacher_training_adviser/steps/identity.rb
  app/validators/email_format_validator.rb
  config/locales/en.yml
  spec/models/teacher_training_adviser/steps/identity_spec.rb
  spec/validators/email_format_validator_spec.rb
Labels: Review, Test, ruby

#689 more about 'you' - less about 'us' and 'them'
  app/views/teacher_training_adviser/steps/_subject_not_found.html.erb
Labels: Review

#688 lower case QTS and better links
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
Labels: Review

#687 help text confusing
  config/locales/en.yml
Labels: Review

#691 Add hint text to country selection step
  config/locales/en.yml
Labels: Review

#690 2 lines say the same thing - combine
  app/views/teacher_training_adviser/steps/_authenticate.html.erb
  app/views/wizard/steps/_authenticate.html.erb
  spec/features/sign_up_spec.rb
Labels: Review, Test

#692 use 'and' rather than an en rule or hyphen and reduce sentence length
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
Labels: Review

#693 put link to privacy policy in the text rather than separate
  app/views/teacher_training_adviser/steps/_accept_privacy_policy.html.erb
Labels: Review
