Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-01, with the labels that each got.

#467 Prevent sign up completion when a 'dead end' step was encountered
  app/controllers/concerns/wizard_steps.rb
  app/models/wizard/base.rb
  app/models/wizard/step.rb
  app/views/teacher_training_adviser/steps/_form.html.erb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/step_spec.rb
  spec/requests/sign_up_spec.rb
Labels: Test, ruby

#474 Status Cake Merged into Main Terraform
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/statuscake.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/ur.bk.vars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/dev.bk.vars
  terraform/statuscake/dev.env.tfvars
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

#476 Link GitHub PRs to Trello tickets automatically
  .github/workflows/trello.yml
Labels: DevOps

#481 Increase Deploy Timeout
  .github/workflows/deploy.yml
Labels: DevOps

#484 add label
  .github/workflows/build.yml
Labels: DevOps, Review

#490 Change formbuilder default legend tag to h1
  config/initializers/formbuilder.rb
  spec/features/sign_up_spec.rb
Labels: Review, Test, ruby

#493 add turnstyle to main workflow
  .github/workflows/build.yml
Labels: DevOps

#491 Show Turbolinks progress indicator
  app/webpacker/styles/application.scss
Labels: Review

#350 Upgrade to govuk design system formbuilder 2.1.1
  Gemfile.lock
  app/views/teacher_training_adviser/steps/_date_of_birth.html.erb
  app/views/teacher_training_adviser/steps/_have_a_degree.html.erb
  app/views/teacher_training_adviser/steps/_overseas_telephone.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teacher_training_adviser/steps/_stage_interested_teaching.html.erb
  app/views/teacher_training_adviser/steps/_uk_telephone.html.erb
  app/views/teacher_training_adviser/steps/_what_subject_degree.html.erb
  app/views/wizard/steps/_authenticate.html.erb
  config/initializers/formbuilder.rb
  spec/features/sign_up_spec.rb
Labels: Test, ruby

#492 reintroduce statuscake on terraform
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#494 ignore dependabot labels
  .github/workflows/build.yml
Labels: DevOps

#495 Update statuscake.tf
  terraform/paas/production.env.tfvars
  terraform/paas/statuscake.tf
Labels: DevOps, Review

#497 Add help text on why we check Date of Birth
  app/views/teacher_training_adviser/steps/_date_of_birth.html.erb
Labels: Review

#496 Rename GovPaaS Organisation
  terraform/paas/variables.tf
Labels: DevOps, Do Not Merge

#479 Update subject not found dead end copy
  app/helpers/application_helper.rb
  app/views/teacher_training_adviser/steps/_subject_not_found.html.erb
  spec/helpers/application_helper_spec.rb
Labels: Test, ruby

#502 Change surname to 'last name' throughout
  app/views/teacher_training_adviser/steps/_identity.html.erb
  config/locales/en.yml
  spec/features/sign_up_spec.rb
Labels: Review, Test

#503 Don't create review apps for dependabot branches
  .github/workflows/build.yml
Labels: DevOps, Review

#506 Add Staging Route
  terraform/paas/test.env.tfvars
Labels: DevOps, Review
