Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-02, with the labels that each got.

#508 Update application.html.erb
  app/views/layouts/application.html.erb
Labels: Review

#505 Better Release Body
  .github/workflows/build.yml
Labels: DevOps, Review

#513 Remove Single Quotes
  .github/workflows/deploy.yml
Labels: DevOps, Review

#518 Update API credentials
  config/credentials/development.yml.enc
  config/credentials/preprod.yml.enc
  config/credentials/production.yml.enc
  config/credentials/rolling.yml.enc
Labels: Review

#519 Update completed.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Review

#521 Update completed.html.erb
  app/helpers/application_helper.rb
  app/views/teacher_training_adviser/steps/completed.html.erb
  spec/helpers/application_helper_spec.rb
Labels: Review, Test, ruby

#520 RubyCop Artefact Missing
  .github/workflows/build.yml
Labels: DevOps, Review

#522 Swap to new token exchange methods/endpoints
  Gemfile.lock
  app/models/teacher_training_adviser/steps/authenticate.rb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/authenticate_spec.rb
Labels: Review, Test, ruby

#516 Upgraded to Alpine 3.13
  .dockerignore
  Dockerfile
Labels: Review, docker

#529 Devops/azure secrets/initial
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
  .github/workflows/trello.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#531 Fix incorrect serialisation of `DateTime`
  Gemfile.lock
Labels: Review

#530 Stimulus 2 upgrade
  app/helpers/application_helper.rb
  app/views/cookie_preferences/show.html.erb
  app/views/pages/home.html.erb
  app/views/shared/_cookie_banner.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  app/webpacker/controllers/analytics_base_controller.js
  app/webpacker/controllers/cookie_preferences_controller.js
  app/webpacker/controllers/lid_controller.js
  app/webpacker/styles/application.scss
  package.json
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
  spec/javascript/controllers/cookie_preferences_controller_spec.js
  spec/javascript/controllers/facebook_controller_spec.js
  spec/javascript/controllers/gtm_controller_spec.js
  spec/javascript/controllers/lid_controller_spec.js
  spec/javascript/controllers/pinterest_controller_spec.js
  spec/javascript/controllers/snapchat_controller_spec.js
  spec/javascript/controllers/twitter_controller_spec.js
  spec/support/matchers/analytics_matcher.rb
  yarn.lock
Labels: Test, ruby

#528 Bulk upgrade of Ruby Gems
  Dockerfile
  Gemfile.lock
Labels: Review, docker

#482 Add Fail2ban to Rack::Attack config
  .env.preprod
  .env.rolling
  config/environments/preprod.rb
  config/environments/rolling.rb
  config/initializers/rack_attack.rb
Labels: Review, ruby

#533 Revert "Add Fail2ban to Rack::Attack config"
  .env.preprod
  .env.rolling
  config/environments/preprod.rb
  config/environments/rolling.rb
  config/initializers/rack_attack.rb
Labels: ruby

#536 Upgraded to Rails 6.0.3.5
  Gemfile.lock
Labels: Review

#534 Revert "Revert "Add Fail2ban to Rack::Attack config""
  .env.preprod
  .env.rolling
  config/environments/preprod.rb
  config/environments/rolling.rb
  config/initializers/rack_attack.rb
Labels: Review

#543 Added debug data to ban message
  config/initializers/rack_attack.rb
Labels: Review, ruby

#544 Bring authentication inline with the app
  app/models/teacher_training_adviser/steps/authenticate.rb
  app/models/teacher_training_adviser/wizard.rb
  app/models/wizard/base.rb
  app/models/wizard/issue_verification_code.rb
  app/models/wizard/steps/authenticate.rb
  app/models/wizard/store.rb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/authenticate_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/steps/authenticate_spec.rb
  spec/support/shared_examples/wizard_support.rb
Labels: Test, ruby

#545 Hide pre-filled optional fields and steps
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/models/teacher_training_adviser/steps/has_teacher_id.rb
  app/models/teacher_training_adviser/steps/overseas_telephone.rb
  app/models/teacher_training_adviser/steps/previous_teacher_id.rb
  app/models/teacher_training_adviser/steps/uk_telephone.rb
  app/models/wizard/base.rb
  app/models/wizard/step.rb
  app/models/wizard/steps/authenticate.rb
  app/models/wizard/store.rb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/has_teacher_id_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/previous_teacher_id_spec.rb
  spec/models/teacher_training_adviser/steps/uk_telephone_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/models/wizard/base_spec.rb
  spec/models/wizard/step_spec.rb
  spec/models/wizard/store_spec.rb
  spec/support/shared_examples/wizard_support.rb
Labels: Test, ruby

#546 Improve Release Note
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: DevOps, Review

#548 Left github secret in
  .github/workflows/build.yml
Labels: DevOps, Review

#552 Explicitly send the candidate type_id on sign up
  Gemfile.lock
  app/models/teacher_training_adviser/steps/returning_teacher.rb
  app/models/teacher_training_adviser/steps/stage_interested_teaching.rb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  config/locales/en.yml
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/has_teacher_id_spec.rb
  spec/models/teacher_training_adviser/steps/have_a_degree_spec.rb
  spec/models/teacher_training_adviser/steps/returning_teacher_spec.rb
  spec/models/teacher_training_adviser/steps/review_answers_spec.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
  spec/models/teacher_training_adviser/steps/subject_like_to_teach_spec.rb
  spec/models/teacher_training_adviser/steps/subject_not_found_spec.rb
  spec/models/teacher_training_adviser/steps/subject_taught_spec.rb
  spec/vcr/https_/get-into-teaching-api-dev_london_cloudapps_digital/api/pick_list_items/candidate/types.yml
Labels: Review, Test, ruby
