Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-07, with the labels that each got.

#741 Correct time zone on update action
  app/controllers/teacher_training_adviser/steps_controller.rb
  spec/features/sign_up_spec.rb
Labels: Review, Test, ruby

#740 (Hopefully) fix flakey rate limit specs
  spec/support/shared_examples/rate_limiting_support.rb
Labels: Review, Test

#746 Correct mistake in feedback questionnaire
  config/locales/en.yml
Labels: Review

#739 Update the copy on the sign up complete page
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  config/locales/en.yml
Labels: Review

#748 Update QTS URL
  config/locales/en.yml
Labels: Review

#588 Add initial support for contract testing
  Gemfile
  Gemfile.lock
  README.md
  spec/contracts/data/callback_booking_quotas.json
  spec/contracts/data/lookup_items/countries.json
  spec/contracts/data/lookup_items/teaching_subjects.json
  spec/contracts/data/pick_list_items/candidate/adviser_eligibilities.json
  spec/contracts/data/pick_list_items/candidate/adviser_requirements.json
  spec/contracts/data/pick_list_items/candidate/assignment_status.json
  spec/contracts/data/pick_list_items/candidate/channels.json
  spec/contracts/data/pick_list_items/candidate/event_subscription_channels.json
  spec/contracts/data/pick_list_items/candidate/gcse_status.json
  spec/contracts/data/pick_list_items/candidate/initial_teacher_training_years.json
  spec/contracts/data/pick_list_items/candidate/journey_stages.json
  spec/contracts/data/pick_list_items/candidate/mailing_list_subscription_channels.json
  spec/contracts/data/pick_list_items/candidate/preferred_education_phases.json
  spec/contracts/data/pick_list_items/candidate/retake_gcse_status.json
  spec/contracts/data/pick_list_items/candidate/types.json
  spec/contracts/data/pick_list_items/past_teaching_position/education_phases.json
  spec/contracts/data/pick_list_items/phone_call/channels.json
  spec/contracts/data/pick_list_items/qualification/degree_status.json
  spec/contracts/data/pick_list_items/qualification/types.json
  spec/contracts/data/pick_list_items/qualification/uk_degree_grades.json
  spec/contracts/data/pick_list_items/subscription/types.json
  spec/contracts/data/pick_list_items/teaching_event/status.json
  spec/contracts/data/pick_list_items/teaching_event/types.json
  spec/contracts/data/pick_list_items/teaching_event_registration/channels.json
  spec/contracts/data/privacy_policy.json
  spec/contracts/data/state.json
  spec/contracts/data/teacher_training_adviser/candidates.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  spec/contracts/output/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  spec/contracts/sign_up_spec.rb
  spec/lib/cloud_front_ip_filter_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/spec_helpers/contract_helper.rb
  spec/support/vcr.rb
Labels: Review, Test

#754 Use default Prometheus client data store
  config/application.rb
Labels: ruby

#755 Fix flakey spec caused by Time.zone
  spec/helpers/answer_helper_spec.rb
Labels: Review, Test

#756 Add helptext for Year of Start
  config/locales/en.yml
Labels: Review

#760 Update labels for teacher training years
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
Labels: Review, Test, ruby
