Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-04, with the labels that each got.

#598 Upgrade all npm dependencies
  yarn.lock
Labels: Review

#602 Draft Public Beta cookie banner
  app/views/shared/_cookie_banner.html.erb
Labels: Review

#607 Enable public beta GTM ID in the test environment
  .env.preprod
Labels: Review

#608 UR Environment Created
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  terraform/paas/.gitignore
  terraform/paas/provider.tf
  terraform/paas/ur.bk.vars
  terraform/paas/ur.env.tfvars
Labels: DevOps, Review

#600 Updated phone number
  app/views/teacher_training_adviser/not_available.html.erb
  app/views/teacher_training_adviser/steps/_already_signed_up.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Review

#609 Update Status Cake with Live Routes
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#610 Only allow root page to be indexed
  public/robots.txt
Labels: Review

#611 Redirect beta domain to new prod domain
  app/controllers/robots_controller.rb
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/userresearch.rb
  config/routes.rb
  public/robots.txt
  spec/requests/beta_redirect_spec.rb
  spec/requests/robots_spec.rb
Labels: Review, Test, ruby

#620 Add Postgres To TTA
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/services.tf
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

#621 Run network fix
  .github/workflows/build.yml
  .github/workflows/manual.yml
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#623 Log to Sentry when CircuitBrokenError is thrown in client Gem
  app/controllers/concerns/circuit_breaker.rb
  spec/requests/circuit_breaker_spec.rb
Labels: Review, Test, ruby

#625 Enable ActiveRecord
  .github/workflows/build.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/models/application_record.rb
  config/application.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/new_framework_defaults_5_2.rb
  config/initializers/new_framework_defaults_6_0.rb
  db/schema.rb
Labels: DevOps, Review, docker, ruby

#626 New feedback from to replace Google Form
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  app/models/teacher_training_adviser/feedback.rb
  app/views/layouts/application.html.erb
  app/views/teacher_training_adviser/feedbacks/new.html.erb
  app/views/teacher_training_adviser/feedbacks/thank_you.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  config/initializers/instrumentation.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20210415104621_create_feedbacks.rb
  db/schema.rb
  lib/prometheus/metrics.rb
  spec/features/feedback_spec.rb
  spec/lib/metrics_spec.rb
  spec/models/teacher_training_adviser/feedback_spec.rb
  spec/requests/feedback_spec.rb
  spec/requests/instrumentation_spec.rb
Labels: Review, Test, ruby

#630 Add invisible captcha protection to feedback form
  Gemfile
  Gemfile.lock
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  app/views/teacher_training_adviser/feedbacks/new.html.erb
  config/initializers/invisible_captcha.rb
  spec/features/feedback_spec.rb
Labels: Review, Test, ruby

#631 Support multiple basic auth users
  .github/workflows/deploy.yml
  .rubocop.yml
  README.md
  app/controllers/application_controller.rb
  app/controllers/healthchecks_controller.rb
  config/credentials/preprod.yml.enc
  config/credentials/rolling.yml.enc
  lib/basic_auth.rb
  spec/features/password_protection_spec.rb
  spec/lib/basic_auth_spec.rb
  spec/requests/basic_auth_spec.rb
  terraform/paas/application.tf
  tests/confidence/healthcheck.sh
Labels: DevOps, Review, Test, ruby

#632 Enable viewing and exporting feedback to CSV
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  app/helpers/application_helper.rb
  app/models/teacher_training_adviser/feedback.rb
  app/models/teacher_training_adviser/feedback_search.rb
  app/views/errors/forbidden.html.erb
  app/views/teacher_training_adviser/feedbacks/_export_form.html.erb
  app/views/teacher_training_adviser/feedbacks/_recent.html.erb
  app/views/teacher_training_adviser/feedbacks/index.html.erb
  config/credentials/preprod.yml.enc
  config/credentials/production.yml.enc
  config/credentials/rolling.yml.enc
  config/locales/en.yml
  config/routes.rb
  lib/basic_auth.rb
  lib/teacher_training_adviser/feedback_exporter.rb
  spec/controllers/errors_controller_spec.rb
  spec/factories/feedbacks.rb
  spec/features/feedback_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/lib/basic_auth_spec.rb
  spec/lib/teacher_training_adviser/feedback_exporter_spec.rb
  spec/models/teacher_training_adviser/feedback_search_spec.rb
  spec/models/teacher_training_adviser/feedback_spec.rb
  spec/rails_helper.rb
  spec/requests/basic_auth_spec.rb
  spec/requests/feedback_spec.rb
  spec/requests/instrumentation_spec.rb
  spec/support/spec_helpers/basic_auth.rb
Labels: Review, Test, ruby

#634 Remove Plan
  .github/workflows/deploy.yml
Labels: DevOps

#633 Minor follow up tweaks to CSV exporting
  app/models/teacher_training_adviser/feedback_search.rb
  lib/teacher_training_adviser/feedback_exporter.rb
  spec/features/feedback_spec.rb
  spec/lib/teacher_training_adviser/feedback_exporter_spec.rb
  spec/models/teacher_training_adviser/feedback_search_spec.rb
  spec/requests/basic_auth_spec.rb
  spec/requests/feedback_spec.rb
  spec/support/spec_helpers/basic_auth.rb
Labels: Review, Test, ruby

#636 Fix basic auth prompt in production
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  spec/requests/feedback_spec.rb
Labels: Review, Test, ruby

#637 Only restrict access on certain feedback actions
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  spec/requests/feedback_spec.rb
Labels: Review, Test, ruby

#640 Add preset labels to all custom metrics
  .env.test
  config/initializers/01_vcap.rb
  config/initializers/01_vcap_services.rb
  lib/prometheus/metrics.rb
  spec/lib/metrics_spec.rb
Labels: Rails, Review, Test, ruby

#642 Isolate API client HTTP cache store
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/get_into_teaching_api_client.rb
  spec/requests/instrumentation_spec.rb
Labels: Review, Test, ruby

#643 Log when a duplicate Candidate is potentially being created
  app/models/wizard/issue_verification_code.rb
  spec/support/shared_examples/wizard_support.rb
Labels: Review, Test, ruby

#639 Use localisation for form label/legend/hint text
  app/helpers/application_helper.rb
  app/models/teacher_training_adviser/steps/stage_of_degree.rb
  app/views/cookie_preferences/show.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/layouts/application.html.erb
  app/views/pages/home.html.erb
  app/views/pages/session_expired.html.erb
  app/views/teacher_training_adviser/steps/_accept_privacy_policy.html.erb
  app/views/teacher_training_adviser/steps/_already_signed_up.html.erb
  app/views/teacher_training_adviser/steps/_authenticate.html.erb
  app/views/teacher_training_adviser/steps/_date_of_birth.html.erb
  app/views/teacher_training_adviser/steps/_gcse_maths_english.html.erb
  app/views/teacher_training_adviser/steps/_gcse_science.html.erb
  app/views/teacher_training_adviser/steps/_has_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_have_a_degree.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_overseas_country.html.erb
  app/views/teacher_training_adviser/steps/_overseas_telephone.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/_previous_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_qualification_required.html.erb
  app/views/teacher_training_adviser/steps/_retake_gcse_maths_english.html.erb
  app/views/teacher_training_adviser/steps/_retake_gcse_science.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teacher_training_adviser/steps/_stage_interested_teaching.html.erb
  app/views/teacher_training_adviser/steps/_stage_of_degree.html.erb
  app/views/teacher_training_adviser/steps/_start_teacher_training.html.erb
  app/views/teacher_training_adviser/steps/_subject_interested_teaching.html.erb
  app/views/teacher_training_adviser/steps/_subject_like_to_teach.html.erb
  app/views/teacher_training_adviser/steps/_subject_taught.html.erb
  app/views/teacher_training_adviser/steps/_uk_address.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  app/views/teacher_training_adviser/steps/_uk_or_overseas.html.erb
  app/views/teacher_training_adviser/steps/_uk_telephone.html.erb
  app/views/teacher_training_adviser/steps/_what_degree_class.html.erb
  app/views/teacher_training_adviser/steps/_what_subject_degree.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  app/views/wizard/steps/_authenticate.html.erb
  config/locales/en.yml
  spec/helpers/application_helper_spec.rb
  spec/models/teacher_training_adviser/steps/stage_of_degree_spec.rb
Labels: Review, Test, ruby

#644 Fix feedback metric label not registering correctly
  config/initializers/instrumentation.rb
  spec/requests/instrumentation_spec.rb
Labels: Review, Test, ruby

#645 Minor tidy up of basic auth logic
  app/controllers/application_controller.rb
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  lib/basic_auth.rb
  spec/lib/basic_auth_spec.rb
Labels: Review, Test, ruby

#646 Migrate to GHCR
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
Labels: DevOps

#647 Improve GHCR
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
Labels: DevOps

#648 Retrieve Logit Secret
  .github/workflows/deploy.yml
Labels: DevOps, Review
