Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-06, with the labels that each got.

#705 Update international telephone validation
  Gemfile
  Gemfile.lock
  app/models/teacher_training_adviser/steps/overseas_telephone.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/validators/telephone_validator.rb
  app/views/teacher_training_adviser/steps/_overseas_telephone.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  config/locales/en.yml
  spec/models/teacher_training_adviser/steps/overseas_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/validators/telephone_validator_spec.rb
Labels: Review, Test, ruby

#707 Prefill country dial in code
  app/models/teacher_training_adviser/steps/overseas_country.rb
  app/models/teacher_training_adviser/steps/overseas_telephone.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/views/teacher_training_adviser/steps/_overseas_telephone.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_country_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_telephone_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/support/shared_examples/address_telephone_value.rb
Labels: Review, Test, ruby

#715 Fix bug on pre-filling country dial-in code
  app/models/teacher_training_adviser/steps/overseas_country.rb
  spec/models/teacher_training_adviser/steps/overseas_country_spec.rb
Labels: Review, Test, ruby

#714 Upgrade from Ruby 2.6.6 to 2.7.3
  .ruby-version
  Dockerfile
  Gemfile.lock
  README.md
Labels: Review, docker

#717 Show booking slots as available unless they are in the next hour
  app/models/concerns/callback_booking_quotas.rb
  spec/features/sign_up_spec.rb
  spec/support/shared_examples/callback_booking_quotas.rb
Labels: Review, Test, ruby

#718 Rename accept cookies button id to bypass ad-blockers
  app/views/shared/_cookie_banner.html.erb
Labels: Review

#722 Fix capitalisation of `BSc`
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
Labels: Review

#708 Various TTA changes based on feedback
  app/models/teacher_training_adviser/steps/have_a_degree.rb
  app/views/pages/home.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  config/locales/en.yml
  spec/features/sign_up_spec.rb
Labels: Review, Test, ruby

#723 Upgrade Jest to 27.0.4
  package.json
  yarn.lock
Labels: Review

#727 Enable international callbacks in production
  app/models/teacher_training_adviser/steps/overseas_callback.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_callback_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
Labels: Review, Test, ruby

#731 Use env variable to control basic auth on/off
  config/environments/development.rb
  config/environments/production.rb
  lib/basic_auth.rb
  spec/lib/basic_auth_spec.rb
  spec/requests/basic_auth_spec.rb
  spec/requests/feedback_spec.rb
  terraform/paas/application.tf
  terraform/paas/production.env.tfvars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review, Test, ruby

#736 Upgrade dependencies
  Gemfile.lock
  app/webpacker/packs/application.js
  package.json
  yarn.lock
Labels: Review

#681 document how to fix failure
  docs/runbooks/pipelines/build_fails_at_release.md
Labels: DevOps
