Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-09, with the labels that each got.

#797 Show next year on 7th September instead of 18th
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
Labels: ruby, Test, Review

#794 Removing year end messaging
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Review

#800 Minor change to remove reference to September 2021
  config/locales/en.yml
Labels: Review

#803 Replace Anchore with Snyk
  .github/workflows/build.yml
Labels: DevOps

#806 Combine Dependabot PRs
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  package.json
  yarn.lock
Labels: docker, Review

#816 Terraform Statuscake Provider Change
  terraform/paas/provider.tf
Labels: DevOps, Review
