Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-03, with the labels that each got.

#556 Validate Azure Keys
  .github/workflows/deploy.yml
Labels: DevOps, Review

#557 Show telephone field on review answers step
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/models/teacher_training_adviser/steps/uk_callback.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/models/teacher_training_adviser/steps/uk_callback_spec.rb
Labels: Review, Test, ruby

#555 Circuit breaker redirect
  .gitignore
  Gemfile.lock
  app/controllers/concerns/circuit_breaker.rb
  app/controllers/concerns/wizard_steps.rb
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/views/teacher_training_adviser/not_available.html.erb
  config/routes.rb
  spec/requests/circuit_breaker_spec.rb
Labels: Review, Test, ruby

#558 Added Secrets Makefile
  .gitignore
  Makefile
Labels: DevOps, Review

#547 Add QTS to the list of reqs on the homepage
  app/views/pages/home.html.erb
Labels: Review

#562 Ignore cloudfront IPs
  Gemfile
  Gemfile.lock
  config/initializers/exclude_cloudfront_ips.rb
  lib/cloud_front_ip_filter.rb
  spec/lib/cloud_front_ip_filter_spec.rb
Labels: Review, Test, ruby

#564 Removed debug data from ban message and disable fail2ban on DEV servers
  .env.rolling
  config/initializers/rack_attack.rb
Labels: Review, ruby

#565 Using Common Trello Action
  .github/workflows/trello.yml
Labels: DevOps, Review

#566 Bump API client to fix deprecation warnings
  Gemfile.lock
Labels: Review

#572 Bug fix callback scheduled for returner
  app/models/teacher_training_adviser/steps/uk_callback.rb
  spec/models/teacher_training_adviser/steps/uk_callback_spec.rb
Labels: Review, Test, ruby

#573 Forward request_id to the API
  Gemfile.lock
  app/controllers/application_controller.rb
  spec/requests/api_client_request_id.rb
Labels: Review, Test, ruby

#575 Remove HotJar behavior analytics
  .env.production
  .env.userresearch
  app/helpers/application_helper.rb
  app/webpacker/controllers/hotjar_controller.js
  config/initializers/secure_headers.rb
  spec/helpers/application_helper_spec.rb
  spec/javascript/controllers/hotjar_controller_spec.js
Labels: Review, Test, ruby

#574 Enable circuit breaker
  config/initializers/get_into_teaching_api_client.rb
Labels: Review, ruby

#577 Enable CloudFront IP filtering in production
  config/initializers/exclude_cloudfront_ips.rb
Labels: Review, ruby

#576 Enable Fail2Ban in production
  .env.production
Labels: Review

#569 Update Sentry gem
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  config/initializers/rack_attack.rb
  config/initializers/sentry.rb
  spec/requests/invalid_authenticity_token_spec.rb
Labels: Review, Test, ruby

#567 Fix bug where NoDegree step is shown incorrectly
  app/models/teacher_training_adviser/steps/no_degree.rb
  spec/models/teacher_training_adviser/steps/no_degree_spec.rb
Labels: Review, Test, ruby

#578 Keep Artefacts Even on Failure
  .github/workflows/build.yml
Labels: DevOps, Review

#581 Remove country_select gem
  Gemfile
  Gemfile.lock
Labels: Review

#583 Bump sentry-rails from 4.3.0 to 4.3.1
  Gemfile.lock
  config/initializers/sentry.rb
Labels: Review, ruby

#580 Include JSON code coverage report and use for sonarcloud
  .github/workflows/build.yml
  spec/spec_helper.rb
Labels: DevOps, Review, Test

#587 Live Routes Made Available
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/routes.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

#589 Build from working cached build
  Dockerfile
Labels: Review, docker

#592 Upgrade mimemagic to 0.3.9
  Dockerfile
  Gemfile.lock
Labels: Review, docker

#590 Avoid reinstalling gems on every build
  Dockerfile
Labels: Review, docker

#582 Update startpage content
  app/views/pages/home.html.erb
Labels: Review

#601 Upgrade Terraform
  .github/workflows/deploy.yml
Labels: DevOps, Review
