Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2021-08, with the labels that each got.

#772 Fix on_or_before validation
  app/models/teacher_training_adviser/feedback_search.rb
Labels: Review, ruby

#763 Allow some candidates to re-subscribe for a TTA
  Gemfile.lock
  app/models/teacher_training_adviser/steps/already_signed_up.rb
  app/models/wizard/base.rb
  spec/contracts/data/teacher_training_adviser/candidates.json
  spec/models/teacher_training_adviser/steps/already_signed_up_spec.rb
  spec/models/wizard/base_spec.rb
Labels: ruby, Test, Review

#774 Dependencies updates
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#779 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Review

#785 Add contract test for candidate re-subscription
  spec/contracts/data/teacher_training_adviser/candidates.json
  spec/contracts/output/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  spec/contracts/sign_up_spec.rb
  spec/support/spec_helpers/contract_helper.rb
Labels: Test, Review
