Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-12, with the labels that each got.

#1189 Remove privacy policy step from sign up journey
  app/models/teacher_training_adviser/steps/accept_privacy_policy.rb
  app/models/teacher_training_adviser/steps/identity.rb
  app/models/teacher_training_adviser/wizard.rb
  app/views/teacher_training_adviser/steps/_accept_privacy_policy.html.erb
  app/views/teacher_training_adviser/steps/_form.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  config/initializers/rack_attack.rb
  config/locales/en.yml
  spec/contracts/sign_up_spec.rb
  spec/features/sign_up_spec.rb
  spec/integration/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/accept_privacy_policy_spec.rb
  spec/models/teacher_training_adviser/steps/identity_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/requests/sign_up_spec.rb
  spec/support/spec_helpers/contract_helper.rb
Labels: ruby, Test, Review

#1203 Update accessibility statement
  app/views/pages/accessibility.html.erb
Labels: Review

#1208 Updated phone number link text and bank holidays
  app/views/layouts/_footer.html.erb
Labels: Review

#1211 Added warning of slower response during holidays
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Review

#1209 Fix dfe-analytics deprecation warning
  app/models/application_record.rb
  spec/requests/big_query_analytics_spec.rb
  spec/requests/feedback_spec.rb
Labels: ruby, Test, Review

#1212 Stronger message QTS message for Non-UK teachers
  Dockerfile
  app/views/pages/home.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: docker, Review
