Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-10, with the labels that each got.

#1148 Change dependabot to monthly interval
  .github/dependabot.yml
Labels: DevOps, Review

#1155 [701] Pin Github actions to the major version only
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
  .github/workflows/destroy.yml
Labels: DevOps, Review

#1161 Update CSP to whitelist domains
  config/initializers/secure_headers.rb
Labels: ruby, Review

#1163 Fix Privacy Policy formatting
  Dockerfile
  app/helpers/text_format_helper.rb
  spec/helpers/text_format_helper_spec.rb
Labels: ruby, docker, Test, Review

#1164 Fix Hotjar CSP error
  config/initializers/secure_headers.rb
Labels: ruby, Review
