Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-02, with the labels that each got.

#917 Rework the enter verification code step
  app/helpers/form_helper.rb
  app/views/teacher_training_adviser/steps/_authenticate.html.erb
  app/views/teacher_training_adviser/steps/_form.html.erb
  app/views/wizard/steps/_authenticate.html.erb
  config/locales/en.yml
  spec/features/sign_up_spec.rb
  spec/helpers/form_helper_spec.rb
  spec/support/spec_helpers/contract_helper.rb
Labels: ruby, Test, Review

#918 Delete CODEOWNERS
  .github/CODEOWNERS
Labels: Review

#920 Improve Workflows
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
  .github/workflows/trello.yml
  Dockerfile
Labels: docker, DevOps, Review

#923 Apply gem updates Feb 2022
  Gemfile
  Gemfile.lock
Labels: Review

#944 Updating QTS hint text
  config/locales/en.yml
Labels: Review

#942 Adding new RTTA subjects to get an adviser start page
  app/models/teacher_training_adviser/steps/subject_like_to_teach.rb
  app/views/pages/home.html.erb
  app/views/teacher_training_adviser/steps/_subject_not_found.html.erb
  spec/models/teacher_training_adviser/steps/subject_like_to_teach_spec.rb
Labels: ruby, Test, Review

#946 Allow review apps to be built on draft PRs
  .github/workflows/build.yml
Labels: DevOps, Review

#949 Improve network policies
  .github/workflows/build.yml
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/space.tf
  terraform/paas/test.env.tfvars
  terraform/paas/ur.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#950 Expat/patch
  Dockerfile
Labels: docker, Review
