Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-06, with the labels that each got.

#1029 Handle invalid IP address gracefully
  lib/cloud_front_ip_filter.rb
  spec/lib/cloud_front_ip_filter_spec.rb
Labels: ruby, Test, Review

#1033 Upgrade to Ruby 3.1.2
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/pages_controller.rb
  app/helpers/text_format_helper.rb
  app/models/healthcheck.rb
  app/validators/email_format_validator.rb
  app/validators/telephone_validator.rb
  app/views/teacher_training_adviser/steps/_overseas_callback.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  config/initializers/instrumentation.rb
  config/initializers/rack_attack.rb
  lib/prometheus/metrics.rb
  spec/capybara_driver_helper.rb
  spec/contracts/sign_up_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/basic_auth_spec.rb
  spec/requests/feedback_spec.rb
  spec/requests/instrumentation_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/support/shared_examples/wizard_support.rb
  spec/support/spec_helpers/integration.rb
  spec/validators/email_format_validator_spec.rb
Labels: ruby, docker, Test, Review

#1034 Upgrade to Rails 7.0.3
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_5_2.rb
  config/initializers/new_framework_defaults_6_0.rb
  config/initializers/permissions_policy.rb
  db/schema.rb
Labels: ruby, docker, Review

#1032 Various dependency updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#1041 Patch pcre2 vulnerability
  Dockerfile
Labels: docker, Review

#1042 updating URLs for international
  app/views/teacher_training_adviser/steps/_subject_not_found.html.erb
  config/locales/en.yml
Labels: Review

#1044 Update CSP directives
  config/initializers/secure_headers.rb
Labels: ruby, Review

#1022 Skip steps the candidate has seen/submitted already
  Gemfile.lock
  app/models/teacher_training_adviser/steps/review_answers.rb
  app/models/teacher_training_adviser/steps/uk_or_overseas.rb
  app/models/teacher_training_adviser/wizard.rb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/review_answers_spec.rb
  spec/models/teacher_training_adviser/steps/uk_or_overseas_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
Labels: ruby, Test, Review

#1045 Fix missing translation for time zone on check answers page
  config/environments/development.rb
  config/locales/en.yml
Labels: ruby, Review

#1046 Add additional ITT year on 24th June
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
Labels: ruby, Test, Review
