Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-09, with the labels that each got.

#1111 Upgrade Terraform to version 1.2.8
  .github/workflows/actions/deploy/action.yml
  .github/workflows/destroy.yml
  .tool-versions
  terraform/paas/.gitignore
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
Labels: DevOps, Review

#1110 adding link back to GIT for those ineligible for an adviser
  app/views/pages/home.html.erb
Labels: Review

#1118 Updating link back to GIT
  app/views/pages/home.html.erb
Labels: Review

#1123 Fix flakey sign up specs
  spec/features/sign_up_spec.rb
Labels: Test, Review

#1132 Add get help section to footer
  app/views/layouts/_footer.html.erb
  spec/requests/gtm_spec.rb
Labels: Test, Review
