Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-11, with the labels that each got.

#1160 Update various dependencies
  .env.test
  Gemfile
  Gemfile.lock
  app/models/healthcheck.rb
  app/webpacker/controllers/cookie-acceptance_controller.js
  app/webpacker/controllers/cookie_preferences_controller.js
  config/initializers/redis.rb
  package.json
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
  spec/javascript/controllers/cookie_preferences_controller_spec.js
  spec/models/healthcheck_spec.rb
  yarn.lock
Labels: ruby, Test, Review, Rails

#1176 Update pixman to fix vulnerability CVE-2022-44638
  Dockerfile
Labels: docker, DevOps, Review

#1177 Remove packages now available on Alpine Linux packages site
  Dockerfile
Labels: docker, DevOps, Review

#1167 Stop using set-output in check_sp workflow
  .github/workflows/actions/deploy/action.yml
  .github/workflows/destroy.yml
Labels: github_actions, DevOps, Review

#1179 Update cookie hide link text
  app/views/shared/_cookie_banner.html.erb
Labels: Review
