Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-01, with the labels that each got.

#894 Prevent loss of Google Ads tracking parameters
  app/webpacker/javascript/gtm.js
  spec/javascript/gtm_spec.js
Labels: Test, Review

#893 Removing Christmas contact hours notification banner
  app/views/pages/home.html.erb
Labels: Review

#890 Update to v2 of the API client
  Gemfile
  Gemfile.lock
  app/models/teacher_training_adviser/wizard.rb
  app/models/wizard/api_client_support.rb
  config/initializers/get_into_teaching_api_client.rb
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  spec/contracts/output/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  spec/contracts/output/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  spec/features/sign_up_spec.rb
  spec/helpers/callback_helper_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/models/wizard/api_client_support_spec.rb
  spec/support/shared_examples/callback_booking_quotas.rb
  spec/support/spec_helpers/contract_helper.rb
Labels: ruby, Test, Review

#899 Add app_instance label to all metrics
  .env.test
  lib/prometheus/metrics.rb
  spec/lib/prometheus/metrics_spec.rb
Labels: ruby, Test, Review, Rails

#900 Update various dependencies
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#907 Bump docker image to alpine3.15
  Dockerfile
Labels: docker, Review

#908 Upgrade to Turbo
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.erb
  app/webpacker/javascript/gtm.js
  app/webpacker/packs/application.js
  app/webpacker/styles/application.scss
  package.json
  spec/javascript/gtm_spec.js
  yarn.lock
Labels: docker, Test

#914 Remove default Prometheus Collector middleware
  config.ru
Labels: Review

#911 Copy updates for various steps
  app/models/teacher_training_adviser/steps/have_a_degree.rb
  app/views/pages/home.html.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_subject_not_found.html.erb
  config/locales/en.yml
  spec/contracts/sign_up_spec.rb
  spec/features/sign_up_spec.rb
Labels: ruby, Test, Review

#915 Revert "Upgrade to Turbo"
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.erb
  app/webpacker/javascript/gtm.js
  app/webpacker/packs/application.js
  app/webpacker/styles/application.scss
  package.json
  spec/javascript/gtm_spec.js
  yarn.lock
Labels: docker, Test

#916 Security patch gmp in docker image
  Dockerfile
Labels: docker
