Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-05, with the labels that each got.

#999 Changing ways to train link on no degree page
  app/views/teacher_training_adviser/feedbacks/thank_you.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
Labels: Review

#1021 Ensure all pages have correct titles
  README.md
  app/controllers/pages_controller.rb
  app/controllers/teacher_training_adviser/feedbacks_controller.rb
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/helpers/application_helper.rb
  app/views/cookie_preferences/show.html.erb
  app/views/errors/forbidden.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/layouts/application.html.erb
  app/views/pages/accessibility.html.erb
  app/views/pages/cookies.html.erb
  app/views/pages/privacy_policy.html.erb
  app/views/pages/session_expired.html.erb
  app/views/teacher_training_adviser/feedbacks/index.html.erb
  app/views/teacher_training_adviser/feedbacks/new.html.erb
  app/views/teacher_training_adviser/feedbacks/thank_you.erb
  app/views/teacher_training_adviser/not_available.html.erb
  app/views/teacher_training_adviser/steps/_accept_privacy_policy.html.erb
  app/views/teacher_training_adviser/steps/_already_signed_up.html.erb
  app/views/teacher_training_adviser/steps/_authenticate.html.erb
  app/views/teacher_training_adviser/steps/_date_of_birth.html.erb
  app/views/teacher_training_adviser/steps/_gcse_maths_english.html.erb
  app/views/teacher_training_adviser/steps/_gcse_science.html.erb
  app/views/teacher_training_adviser/steps/_has_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_have_a_degree.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_overseas_callback.html.erb
  app/views/teacher_training_adviser/steps/_overseas_country.html.erb
  app/views/teacher_training_adviser/steps/_overseas_telephone.html.erb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/_previous_teacher_id.html.erb
  app/views/teacher_training_adviser/steps/_qualification_required.html.erb
  app/views/teacher_training_adviser/steps/_retake_gcse_maths_english.html.erb
  app/views/teacher_training_adviser/steps/_retake_gcse_science.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  app/views/teacher_training_adviser/steps/_review_answers.html.erb
  app/views/teacher_training_adviser/steps/_stage_interested_teaching.html.erb
  app/views/teacher_training_adviser/steps/_stage_of_degree.html.erb
  app/views/teacher_training_adviser/steps/_start_teacher_training.html.erb
  app/views/teacher_training_adviser/steps/_subject_interested_teaching.html.erb
  app/views/teacher_training_adviser/steps/_subject_like_to_teach.html.erb
  app/views/teacher_training_adviser/steps/_subject_not_found.html.erb
  app/views/teacher_training_adviser/steps/_subject_taught.html.erb
  app/views/teacher_training_adviser/steps/_uk_address.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  app/views/teacher_training_adviser/steps/_uk_or_overseas.html.erb
  app/views/teacher_training_adviser/steps/_uk_telephone.html.erb
  app/views/teacher_training_adviser/steps/_what_degree_class.html.erb
  app/views/teacher_training_adviser/steps/_what_subject_degree.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  spec/helpers/application_helper_spec.rb
Labels: ruby, Test, Review

#1020 Make change links on review answers page more accessible
  app/helpers/application_helper.rb
  app/views/teacher_training_adviser/steps/review_answers/_answer.html.erb
  config/locales/en.yml
  spec/helpers/application_helper_spec.rb
Labels: ruby, Test, Review

#1023 Fix skip to main content behaviour
  app/views/layouts/application.html.erb
  app/webpacker/controllers/cookie-acceptance_controller.js
Labels: Review

#1019 Track cookie opt-in rates
  app/controllers/client_metrics_controller.rb
  app/webpacker/controllers/cookie_preferences_controller.js
  app/webpacker/javascript/cookie_preferences.js
  config/initializers/instrumentation.rb
  config/initializers/rack_attack.rb
  config/routes.rb
  lib/prometheus/metrics.rb
  spec/javascript/controllers/cookie-acceptance_controller_spec.js
  spec/javascript/controllers/cookie_preferences_controller_spec.js
  spec/javascript/cookie_preferences_spec.js
  spec/javascript/gtm_spec.js
  spec/lib/prometheus/metrics_spec.rb
  spec/requests/client_metrics_spec.rb
  spec/requests/instrumentation_spec.rb
Labels: ruby, Test, Review

#1026 Ensure all pages have a main landmark
  Dockerfile
  app/views/cookie_preferences/show.html.erb
  app/views/errors/forbidden.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/layouts/application.html.erb
  app/views/pages/accessibility.html.erb
  app/views/pages/cookies.html.erb
  app/views/pages/home.html.erb
  app/views/pages/privacy_policy.html.erb
  app/views/pages/session_expired.html.erb
  app/views/teacher_training_adviser/feedbacks/index.html.erb
  app/views/teacher_training_adviser/feedbacks/new.html.erb
  app/views/teacher_training_adviser/feedbacks/thank_you.erb
  app/views/teacher_training_adviser/steps/_form.html.erb
  app/views/teacher_training_adviser/steps/_subject_not_found.html.erb
Labels: docker, Review

#1027 Prevent SVG logos from being read out by screen readers
  app/views/layouts/_footer.html.erb
  app/views/layouts/application.html.erb
Labels: Review

#1024 Remove vertical bars from footer links
  app/views/layouts/_footer.html.erb
  app/webpacker/styles/application.scss
Labels: Review
