Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-04, with the labels that each got.

#984 [557] Skip dependabot review app deletion
  .github/workflows/destroy.yml
Labels: DevOps, Review

#985 Migrate rolling/preprod/userresearch secrets to azure
  .env.preprod
  .env.rolling
  .env.userresearch
  config/credentials/preprod.yml.enc
  config/credentials/rolling.yml.enc
  config/credentials/test.yml.enc
  config/credentials/userresearch.yml.enc
  config/environments/userresearch.rb
  lib/basic_auth.rb
  spec/lib/basic_auth_spec.rb
Labels: ruby, Test, Review, Rails

#988 Migrate local development secrets to Azure
  .env.development
  .env.development.yml
  .gitignore
  Makefile
  README.md
  config/credentials/development.yml.enc
Labels: Review, Rails

#987 Migrate production credentials to Azure
  .env.preprod
  .env.rolling
  .env.userresearch
  config/credentials/production.yml.enc
  config/environments/userresearch.rb
Labels: ruby, Review, Rails

#990 Remove userresearch environment
  .env.userresearch
  .rubocop.yml
  Gemfile
  config/database.yml
  config/environments/userresearch.rb
Labels: ruby, Review, Rails

#991 Remove references to Rails credentials
  config/initializers/get_into_teaching_api_client.rb
  config/initializers/sentry.rb
  lib/basic_auth.rb
  spec/support/vcr.rb
Labels: ruby, Test, Review

#997 [546] Rebuild docker cache workflow
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build-nocache.yml
  .github/workflows/build.yml
  .github/workflows/manual.yml
  .github/workflows/trello.yml
  Dockerfile
Labels: docker, DevOps, Review

#996 Add permissions to build and deploy workflow
  .github/workflows/build.yml
Labels: DevOps, Review

#1001 Remove service account token
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: DevOps, Review
