Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-08, with the labels that each got.

#1081 [656] Do not skip "Destroy review instance" for dependabot
  .github/workflows/destroy.yml
Labels: DevOps, Review

#1083 [648] Run terraform locally
  .tool-versions
  Makefile
  terraform/paas/dev.bk.vars
  terraform/paas/production.bk.vars
  terraform/paas/provider.tf
  terraform/paas/review.bk.vars
  terraform/paas/test.bk.vars
  terraform/paas/ur.bk.vars
  terraform/paas/variables.tf
Labels: DevOps, Review

#1091 Add dfe-analytics gem
  .env.development.yml
  .env.preprod
  .env.production
  .env.rolling
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/models/application_record.rb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_pii.yml
  config/environments/development.rb
  config/environments/preprod.rb
  config/environments/production.rb
  config/environments/rolling.rb
  config/environments/test.rb
  config/initializers/dfe_analytics.rb
  spec/rails_helper.rb
  spec/requests/api_client_request_id_spec.rb
  spec/requests/big_query_analytics_spec.rb
  spec/requests/feedback_spec.rb
  spec/spec_helper.rb
Labels: ruby, Test, Review, Rails

#1094 Enable dfe-analytics in production
  config/environments/production.rb
Labels: ruby, Review

#1080 Updating for ineligible international users
  app/views/pages/home.html.erb
  app/views/teacher_training_adviser/steps/_returning_teacher.html.erb
  config/locales/en.yml
Labels: Review

#1095 Various dependency updates
  .gitignore
  Dockerfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: docker, Review

#1097 Update copy on teacher training years options
  app/models/teacher_training_adviser/steps/start_teacher_training.rb
  spec/models/teacher_training_adviser/steps/start_teacher_training_spec.rb
Labels: ruby, Test, Review

#1102 Fix flakey integration test
  spec/integration/sign_up_spec.rb
Labels: Test, Review

#1104 Remove alert before provider update
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#1103 Update Terraform StatusCake provider to 2.0.3
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps, Review
