Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2022-03, with the labels that each got.

#849 Update the link for teachers in Wales
  app/views/pages/home.html.erb
Labels: Review

#958 Various dependency updates
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/owasp/action.yml
  .github/workflows/build.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  Gemfile.lock
Labels: DevOps, Review

#960 Add postgres service to QA test step
  .github/workflows/build.yml
Labels: DevOps

#963 Fix integration tests not running
  .github/workflows/build.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  spec/capybara_driver_helper.rb
  spec/rails_helper.rb
  terraform/paas/application.tf
Labels: docker, DevOps, Test, Review

#968 Upgrade libxslt and libxm2
  Dockerfile
Labels: docker

#969 Various dependency updates
  .github/workflows/build.yml
  Gemfile.lock
Labels: DevOps, Review

#973 Run through full sign up as existing candidate
  spec/integration/sign_up_spec.rb
  spec/support/spec_helpers/contract_helper.rb
Labels: Test, Review

#967 Handle when invalid channel id is specified
  app/models/teacher_training_adviser/steps/identity.rb
  app/models/teacher_training_adviser/wizard.rb
  app/views/pages/home.html.erb
  app/views/teacher_training_adviser/steps/_identity.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  config/locales/en.yml
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/identity_spec.rb
Labels: ruby, Test, Review
