Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2023-02, with the labels that each got.

#1245 Editing dead end adviser funnel screens
  app/views/teacher_training_adviser/steps/_already_signed_up.html.erb
  app/views/teacher_training_adviser/steps/_no_degree.html.erb
  app/views/teacher_training_adviser/steps/_primary_returner.erb
  app/views/teacher_training_adviser/steps/_qualification_required.html.erb
  spec/features/sign_up_spec.rb
Labels: Test, Review

#1232 Remove address line 1/2 and city
  app/models/teacher_training_adviser/steps/uk_address.rb
  app/views/teacher_training_adviser/steps/_uk_address.html.erb
  config/initializers/filter_parameter_logging.rb
  config/locales/en.yml
  docs/journey.md
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  spec/contracts/output/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  spec/contracts/output/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  spec/contracts/output/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  spec/contracts/sign_up_spec.rb
  spec/features/sign_up_spec.rb
  spec/integration/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/review_answers_spec.rb
  spec/models/teacher_training_adviser/steps/uk_address_spec.rb
  spec/support/spec_helpers/contract_helper.rb
Labels: ruby, Test, Review

#1250 Migrate to Shakapacker
  Gemfile
  Gemfile.lock
  README.md
  app/views/layouts/application.html.erb
  app/webpacker/packs/gtm.js
  babel.config.js
  bin/setup
  bin/webpack
  bin/webpack-dev-server
  bin/webpacker
  bin/webpacker-dev-server
  bin/yarn
  config/initializers/secure_headers.rb
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/production.js
  config/webpack/test.js
  config/webpack/webpack.config.js
  config/webpacker.yml
  package.json
  yarn.lock
Labels: ruby, Review

#1254 Patch openssl vulerabilities
  Dockerfile
Labels: docker, Review
