Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2023-01, with the labels that each got.

#1215 Gracefully handle when there are no available callback slots
  app/controllers/teacher_training_adviser/steps_controller.rb
  app/models/teacher_training_adviser/steps/overseas_callback.rb
  app/models/teacher_training_adviser/steps/overseas_time_zone.rb
  app/models/teacher_training_adviser/steps/uk_callback.rb
  app/models/teacher_training_adviser/wizard.rb
  app/views/teacher_training_adviser/steps/_overseas_time_zone.html.erb
  app/views/teacher_training_adviser/steps/_uk_callback.html.erb
  app/views/teacher_training_adviser/steps/completed.html.erb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_callback_spec.rb
  spec/models/teacher_training_adviser/steps/overseas_time_zone_spec.rb
  spec/models/teacher_training_adviser/steps/uk_callback_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
Labels: ruby, Test, Review

#1206 Update wizard gem for new Identity step
  Gemfile.lock
  app/models/teacher_training_adviser/steps/identity.rb
  app/validators/email_format_validator.rb
  app/validators/policy_validator.rb
  spec/models/teacher_training_adviser/steps/identity_spec.rb
  spec/models/teacher_training_adviser/wizard_spec.rb
  spec/validators/email_format_validator_spec.rb
  spec/validators/policy_validator_spec.rb
Labels: ruby, Test, Review

#1228 Removing 'free of charge' from footer
  app/views/layouts/_footer.html.erb
Labels: Review

#1233 Run Snyk nightly
  .github/workflows/build.yml
  .github/workflows/snyk.yml
Labels: DevOps, Review

#1236 Upgrade optimize-css-assets-webpack-plugin
  package.json
  yarn.lock
Labels: Review
