Repository DFE-Digital/get-teacher-training-adviser-service, pull requests merged in 2023-03, with the labels that each got.

#1256 Prevent caching of JS/CSS assets in development
  config/webpack/webpack.config.js
  config/webpacker.yml
  package.json
  yarn.lock
Labels: Review

#1267 Updating 404 page text
  app/views/errors/forbidden.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/too_many_requests.html.erb
  app/views/errors/unprocessable_entity.html.erb
  spec/requests/pages_spec.rb
Labels: Test, Review

#1268 Support CORS preflight requests
  Gemfile
  Gemfile.lock
  config/initializers/cors.rb
Labels: ruby, Review

#1269 Remove cache read metric
  config/initializers/instrumentation.rb
  lib/prometheus/metrics.rb
  spec/lib/prometheus/metrics_spec.rb
  spec/requests/instrumentation_spec.rb
Labels: ruby, Test, Review

#1277 Update accessibility statement with holding text
  app/views/pages/accessibility.html.erb
Labels: Review

#1271 Re-introduce education stage step for ETAs
  app/models/teacher_training_adviser/steps/stage_interested_teaching.rb
  app/models/teacher_training_adviser/steps/subject_interested_teaching.rb
  app/views/teacher_training_adviser/steps/_subject_interested_teaching.html.erb
  config/locales/en.yml
  docs/journey.md
  spec/contracts/output/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  spec/contracts/sign_up_spec.rb
  spec/features/sign_up_spec.rb
  spec/models/teacher_training_adviser/steps/stage_interested_teaching_spec.rb
  spec/models/teacher_training_adviser/steps/subject_interested_teaching_spec.rb
Labels: ruby, Test, Review
